@import "../../common/colors.scss";

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  color: $font-primary;
  font-weight: 400;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;

  .fa-icon {
    color: rgb(31, 31, 31);
  }
}

.movie-rating {
  padding: 30px;
  margin-top: 20px;
  color: $font-secondary;
  display: flex;
  color: #fff;
  background-color: rgb(219, 35, 122);

  span {
    margin-right: 20px;
  }
}

.movie-title {
  color: $font-primary;
  font-weight: 600;
}

.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info {
  color: #fff;
}

.movie-info li {
  padding: 20px;
  list-style: none;
}

.movie-info > div span {
  color: $font-secondary;
}

.movie-info > div span:first-child {
  padding: 10px 0;
  color: $font-primary;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info li:nth-child(even) {
  background-color: rgb(219, 35, 122);
}

.arrow {
  display: flex;
}

.fa-star {
  color: #ff9e00;
}

.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.section-right {
  margin-left: 50px;
}
